<div class="page-header">
  <h2><%= @property.title.titleize %></h2>
</div>

<ul class="nav nav-pills" style="margin: 15px 0;">
  <li>
    <%= link_to 'Back to Properties', properties_path %>
  </li>
  <li>
    <%= link_to 'Download Photos', download_property_photos_path(@property) %>
  </li>
</ul>

<%= render 'form' %>
